<div class="col-md-12 mt-5">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" formControlName="name" class="form-control" value="" placeholder="Name" autofocus [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Enter Character Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="patronus" class="form-control" value="" placeholder="Patronus" autofocus [ngClass]="{ 'is-invalid': submitted && f.patronus.errors }" />
                    <div *ngIf="submitted && f.patronus.errors" class="invalid-feedback">
                        <div *ngIf="f.patronus.errors.required">Enter Charcater Patronus</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="age" class="form-control" value="" placeholder="age" autofocus [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                        <div *ngIf="f.age.errors.required">Enter Age</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="image" class="form-control" value="" placeholder="Image" autofocus [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                    <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                        <div *ngIf="f.image.errors.required">Enter Image URL</div>
                    </div>
                </div>
                <button [disabled]="loading"  class="btn-orange btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Agregar
                </button>
            </form>

            <div class="row mt-3">
                <div class="col">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Patronus</th>
                                <th>Age</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{name}}</td>
                                <td>{{patronus}}</td>
                                <td>{{age}}</td>
                                <td>{{image}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

