<!DOCTYPE html>
<html>
  <head>
      <title>Teachers</title>
      <style type="text/css">   
      </style>
  </head>

  <body class="fondo">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
                >
        </ngx-spinner>

        <div class="card">
                <div class="card-header">
                        Teachers
                </div>
                <div class="card-body">
                    <ag-grid-angular 
                        style="width: 750px; height: 300px;" 
                        class="ag-theme-balham"
                        [rowData]="rowData" 
                        [columnDefs]="columnDefs"
                        [pagination]="true" 
                        [paginationAutoPageSize]="true" 
                        (cellClicked)='onCellClicked($event)'
                        (selectionChanged) = 'onSelectionChanged($event)'
                        [frameworkComponents]="frameworkComponents"
                        [floatingFilter]="true"
                        [animateRows]="true" 
                        [animateRows]="true" 
                        *ngIf="AgLoad" 
                        > 
                    </ag-grid-angular>
                </div>
        </div>         
  </body>
</html>
