<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Estas seguro que deseas cerrar sesión?</h1>
    </header>
    <!-- <section id="modal-body">
        <p>Aquí puedes agregar información adicional...</p>
    </section> -->
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Cerrar Sesión</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Regresar</button>
    </footer>
</div>
