<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <!-- <mat-nav-list>
      <a mat-list-item routerLink="personajes">Personajes</a>
      <a mat-list-item routerLink="estudiantes">Estudiantes</a>
      <a mat-list-item routerLink="profesores">Profesores</a>
      <a mat-list-item routerLink="form-estudiante">Estudiante</a>
      <a mat-list-item routerLink="directivas">Directivas</a>
      <a mat-list-item routerLink="grafico">Chart</a>
      <a mat-list-item routerLink="stepper">Stepper</a>
      <a mat-list-item routerLink="text-mask-addons">text-mask-addons</a>
    </mat-nav-list> -->
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer">DESAFIO WCS</span>
      <a mat-list-item (click)="openModal()">Salir</a>
    </mat-toolbar>

      <mat-sidenav-content class="margenDerecho">
        <router-outlet></router-outlet>
      </mat-sidenav-content> 
      
  </mat-sidenav-content>
</mat-sidenav-container>
