<div style = "width: 50%; padding-top: 10px;"> 
    <canvas id="canvas"></canvas>
</div>
<div class = "text-center">
    <button class="btn btn-success"(click)="captureCanvas()">Capturar Cancas</button>   
</div>
<div class = "text-center">
    <img src = "{{capturedImage}}" style="width: 386px;">
</div>