.align{
    padding-top: 20px;
    padding-left: 10px;
}

.outer {
    background: red;
    height: 100px;
    width: 100px;
    padding: 100px;
  }
  
  .inner {
    background: yellow;
    height: 100px;
    width: 100px;
  }