<div  class="align">
    <div>
        <button [appButtonEvent]="42" class="btn btn-success">Prueba disparar directiva ButtonEventDirective</button>   
    </div>

    <div style = "margin-bottom: 10px; padding-top: 10px;">Prueba ClickOutsideDirective se dispara cuando clic afuera del amarillo</div>
    <div class="outer">
    <div class="inner" (clickOutside)="incrementClickOutsideCount()">
    
    </div>
    </div>
    <p>Times clicked outside of yellow inner area: {{ clickedOutsideCount }}</p>
</div>