<!DOCTYPE html>
<html>
  <head>
      <title>Characters</title>
      <style type="text/css">   
      </style>
  </head>

  <body class="fondo">
    <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
            >
    </ngx-spinner>

    <div class="card">
        <div class="card-header">
                Search Characters for House
        </div>
        <div class="card-body">
                <label for="exampleCharacters" class="home">House</label>
                <select  class="form-control" [(ngModel)]="selectedCharacters" (ngModelChange)="onChangeofOptions($event)"> 
                        <option *ngFor="let c of houses" [ngValue]="c.text">
                                {{c.text}}
                        </option>
                </select>
             
                <br>
                
                <small id="charactersHelp" class="form-text text-muted">Select the House</small>
                
                <ag-grid-angular 
                        style="width: 750px; height: 300px;" 
                        class="ag-theme-balham"
                        [rowData]="rowData" 
                        [columnDefs]="columnDefs"
                        [pagination]="true" 
                        [paginationAutoPageSize]="true" 
                        (cellClicked)='onCellClicked($event)'
                        (selectionChanged) = 'onSelectionChanged($event)'
                        *ngIf="AgLoad" 
                > 
                </ag-grid-angular>
        
                <button mat-raised-button color="primary" (click)="printPDF()">PDF</button>
        </div>
    </div>         
  </body>
</html>
